<section class="section">
  <div class="container">
    <div class="title is-1">
      <p>Body Composition Tracker</p>
    </div>
    <div class="tile is-ancestor">
      <%= link_to weigh_ins_path do %>
        <div class="tile is-parent is-12">
          <article class="tile is-child notification is-success">
            <p class="title">Weigh Ins</p>
          </article>
        </div>
      <% end %>
    </div>
  </div>
</div>
